a {
  color: white;
}

h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p, #facts {
  font-size: 1.3em;
  margin-bottom: 1rem;
}

body {
  text-align: left;
}

main {
  margin: auto;
  width: 30rem;
  max-width: 90vw;
}

.madeBy {
  text-transform: uppercase;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  bottom: 5;
}

.madeBy > a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.madeBy > a > img {
  -webkit-border-radius: 250px;
     -moz-border-radius: 250px;
          border-radius: 250px;
  width: 2rem;
  margin-top: 8px;
}