img {
  max-width: 80%;
  height: auto;
}

a {
  color: black;
}

p {
  font-size: 20px;
  padding-right: 10vw;
  padding-left: 10vw;
}

#repoInfo {
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 2.5rem;
}

body {
  font-family: "Palanquin";
  background-color: #ff9800;
  margin: 0;
  text-align: center;
}

.madeBy {
  text-transform: uppercase;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}

.madeBy > span > a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.madeBy > span > a > img {
  border-radius: 250px;
  width: 25px;
  margin-top: 8px;
}

@media only screen and (max-width: 600px) {
  .madeBy {
    display: block !important;
  }
  .madeBy > span > a > img {
    width: 20px;
  }

}