body,
html,
.select,
.select::after,
#slct,
.full-screen,
#code {
  background: #444 !important;
  color: #e4e4e4 !important;
}

a:not(#adminbar a):not(.btn) {
  color: #e39777 !important;
}

img {
  filter: grayscale(20%) !important;
}

.demo-droppable {
  background: #444 !important;
  color: #e4e4e4 !important;
}

.modal-content,
.modal-content > p,
#progressPercent {
  background: #373737 !important;
  color: white !important;
}

.select::after {
  background: #333 !important;
}

.closeBtn:hover {
  color: white !important;
}
