.demo-droppable {
  background: #e58900;
  color: #000;
  padding: 100px 0;
  text-align: center;
  cursor: pointer;
}

.demo-droppable.dragover {
  background: #e58900;
}

.code {
  font-size: 3rem;
}

.modal {
  max-height: 100vh;
  display: none;
}

#copy {
  display: none;
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}