progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value,
progress[value]::-moz-progress-bar {
  background: #3cbcc3;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

#fact {
  background: #bbb;
  width: 69%;
  margin: auto;
}

#progressPercent,
#fact {
  color: #000;
}

.copy {
  border: none;
  background: #2463ac;
  cursor: pointer;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  padding: 6px;
  width: 200px;
  color: white;
  margin-left: 25px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  margin-top: 35px;
  -webkit-transition-duration: 500ms;
     -moz-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
}

/* Style */
input::-webkit-input-placeholder {
  color: #555;
}
input:-moz-placeholder {
  color: #555;
}
input::-moz-placeholder {
  color: #555;
}
input:-ms-input-placeholder {
  color: #555;
}
input::-ms-input-placeholder {
  color: #555;
}
input::placeholder {
  color: #555;
}

.square {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  width: 45rem;
  max-width: 90vw;
  height: 3.2rem;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  border: 4px solid #fff;
  -webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
          border-radius: 60px;
  color: black;
  background: white;
}

main {
  height: 100%;
  margin-top: 30vh;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h2 {
  font-size: 3em;
  text-align: center;
}

.demo-droppable {
  color: #000;
  text-align: center;
  position: absolute;
  top: 57px;
  left: 0;
  height: 90vh;
  width: 90vw;
  z-index: -5;
}

.code {
  font-size: 3rem;
}

.modal img {
  margin: auto;
}

.modal {
  max-height: 100vh;
  display: none;
  text-align: center;
}

.copy {
  display: none;
}

.output {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}