* {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #157efb;
  color: #fff;
  margin: 0;
  max-height: 100vh !important;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  list-style: none;
}

.beta {
  border: 2px solid #dee2e6 !important;
  border-color: #38c172 !important;
  padding-left: 0.4em;
  padding-right: 0.4em;
  border-radius: 50rem !important;
  color: white;
  font-size: 11px;
  margin-left: 7px;
  text-transform: uppercase;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #157efb;
}

#menu li:hover {
  background-color: #222;
}

.settingsIcon {
  width: 27px;
  height: 27px;
  transition-duration: 0.5s;
  float: right;
  margin: 10px;
  color: white;
  position: relative;
  z-index: 1;
}

.themeLabel {
  font-size: large;
}

li:hover .settingsIcon {
  transform: rotate(90deg);
}

.triggerItem {
  float: right;
  cursor: pointer;
}

#settingsModal,
#settingsModal p {
  color: #000;
  text-align: left;
  padding-left: 0;
}

#settingsModal > * {
  padding-left: 5%;
  padding-bottom: 50px;
  overflow-y: initial !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  overflow-y: auto;
}

@media only screen and (max-width: 1000px) {
  .modal-content {
    width: 90%;
  }

  .modal {
    padding-top: 0;
  }

  .lg {
    display: none;
  }
}

/* The Close Button */
.closeBtn {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Reset Select */
#slct {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #dfdfdf;
  color: black;
  background-image: none;
  font-size: medium;
}

/* Remove IE arrow */
#slct::-ms-expand {
  display: none;
}

/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  max-width: 100%;
  height: 3em;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border-radius: 0.25em;
}

#slct {
  flex: 1;
  padding: 0 0.5em;
  cursor: pointer;
}

/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #d3d3d3;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

/* Transition */
.select:hover::after {
  color: #157efb;
}

dark-mode-toggle {
  display: none;
}

/* Switch */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 8px;
}

.flex {
  display: flex;
  align-items: center;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #157efb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #157efb;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggleLabel {
  display: inline-block;
}

h1:nth-child(1) {
  margin-top: 55px;
}

#adminbar {
  width: calc(100% - 20px);
  padding: 6px 0;
  border: 1px solid black;
  border-top: none;
  display: flex;
  justify-content: start;
  flex-direction: row;
  padding-left: 9px;
  padding-right: 9px;
  color: white;
}

#adminbar:not(.staging) {
  background: #588d6a;
}

#adminbar.staging {
  background: #f15922;
}

#adminbar span a {
  color: white;
}

#adminbar span:not(:last-child):not(:first-child) {
  padding-left: 7px;
  padding-right: 15px;
}

.ending {
  margin-left: auto;
}

.subitem {
  display: none;
}

.ending:hover .subitem,
#adminbar:focus {
  display: inline-block;
}

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background: #000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

#branch-select {
  width: 8em;
}
