ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    list-style: none;
}

.beta {
    border: 2px solid #dee2e6 !important;
    border-color: #38c172 !important;
    padding-left: 0.4em;
    padding-right: 0.4em;
    border-radius: 50rem !important;
    color: white;
    font-size: 11px;
    margin-left: 7px;
    text-transform: uppercase;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #ff9800;
}

#menu li:hover {
    background-color: #222;
}
