input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 75vw;
  height: 50px;
  margin-left: 35vw;
  max-width: 100vw;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}