@import url('https://fonts.googleapis.com/css?family=Palanquin&display=swap');

body {
  margin: 0;
  width: 100%;
  background-color: #ff9800;
  font-family: 'Palanquin';
  height: auto;
}

#fullscreen {
  width: 100%;
  height: 100%;
  display: table;
  background-size: cover;
}

#fullscreen .fullscreen-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  max-width: 100vw !important;
}

#fullscreen .fullscreen-content .title {
  display: block;
  width: 55%;
  padding-bottom: 20px;
  padding-top: 2px;
  margin: 0 auto;
  /*background-color: rgba(0,0,0,.5);*/
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #fff;
}

#fullscreen .fullscreen-content .title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  margin: 5px 0;
}

#fullscreen .fullscreen-content .title p {
  font-family: "Lato", sans-serif;
  font-size: 2em;
}

h1 a {
  text-decoration: none;
  color: white;
}

h1.errheader {
  animation-name: tada;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

#qrcode {
  margin-top: 35px;
}

@media only screen and (max-width: 1000px) {
  iframe#ytplayerSide {
    width: 100vw;
    height: 50vh;
  }
}

@media only screen and (min-width: 1000px) {
  iframe#ytplayerSide {
    width: 50vw;
    height: 50vh;
  }
}

span.url {
  display: block;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

#qrcode > canvas {
  max-width: 50vw;
}

html {
  content: "";
}

@media (prefers-color-scheme: light) {
  html {
    content: "light";
  }
}

@media (prefers-color-scheme: dark) {
  html {
    content: "dark";
  }
}

.usrCode {
  font-variant-numeric: slashed-zero;
}
