progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value,
progress[value]::-moz-progress-bar {
  background: #3cbcc3;
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

#fact {
  background: #bbb;
  width: 69%;
  margin: auto;
}

#progressPercent,
#fact {
  color: #000;
}
