.wrapper {
  font-size: 36px;
  font-weight: bold;
}

p {
  color: #fff;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 20vh;
}

#code::-webkit-input-placeholder {
  color: #ddd !important;
}

#code::-moz-placeholder {
  color: #ddd !important;
}

#code:-ms-input-placeholder {
  color: #ddd !important;
}

#code::-ms-input-placeholder {
  color: #ddd !important;
}

#code::placeholder {
  color: #ddd !important;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid #555;
  width: 200px;
  font-size: 36px;
  margin-bottom: 3rem;
  background: #157efb;
}

input {
  color: white;
  font-size: 6vh;
}

#modalpage {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}