* {
  /* Ref: https://tailwindcss.com/docs/font-family */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* 
  Make the code a font which makes differentiating between some similar characters a smaller hassle
  Ref: https://tailwindcss.com/docs/font-family
*/
.mono {
  font-family: monospace;
}

body {
  background-color: $primaryBlue;
  color: #fff;
  margin: 0;
  overflow-x: hidden;
}

