dialog {
  max-height: 100vh;
  text-align: center;

  & > * {
    margin-bottom: 0.7rem;
  }

  .control-icon > svg {
    width: 1.8rem;
    cursor: pointer;
  }

  .percentage-bar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: black;
    z-index: 3;

    &:nth-child(2) {
      color: white;
      z-index: 2;
    }
  }
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
}

