@import "_mvp_reverts.scss";
@import "_skip-link.scss";

/* Style dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background: #2a2a2e;
    color: #fff;
  }

  section aside {
    box-shadow: none;
  }
}
