@import "progressbar";
@import "copy";
@import "globals";
@import "mobile";

body {
  min-height: 100vh;

  &.dragover {
    min-height: calc(100vh - 10px);
    background: #489afb;
    border: 5px dashed white;
  }

  #dropzone.dragover {
    background: #157efb;
  }
}

.droppable-area {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #005ac7;
  cursor: pointer;
}

.server-container {
  margin-bottom: 2.5rem;
}

.code {
  font-size: 3rem;
}

.modal {
  max-height: 100vh;
}

#copy {
  display: none;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
}
