@import "progressbar";
@import "copy";
@import "globals";
@import "mobile";
@import "fileModal";
@import "tabs";

body {
  min-height: 100vh;

  &.dragover {
    min-height: calc(100vh - 10px);
    background: #489afb;
    border: 5px dashed white;
  }

  #dropzone.dragover {
    background: #157efb;
  }
}

.droppable-area {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #005ac7;
  cursor: pointer;
}

.server-container {
  margin-bottom: 2.5rem;
}

.code {
  font-size: 3rem;
}

#gist {
  textarea {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    resize: vertical;
    min-height: 5rem;

    &:focus {
      background-color: #f5f5f5;
    }
    &::placeholder {
      color: #999;
    }
  }
}

#copy {
  display: none;
}
