@import "_progressbar.scss";
@import "_copy.scss";
@import "_skip-link.scss";

body {
  min-height: 100vh;

  &.dragover {
    min-height: calc(100vh - 10px);
    background: #3B3B3B !important;
    border: 5px dashed white;
  }
}

.code {
  font-size: 3rem;
}

.modal {
  max-height: 100vh;
  display: none;
}

#copy {
  display: none;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
}
