@import "_button.scss";
@import "_colors.scss";
@import "_defaults.scss";

@import "_adminbar.scss";
@import "_settings.scss";

ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #333;
  display: flex;
  align-items: center;

  li {
    float: left;
    list-style: none;

    &:hover {
      background-color: #222;
    }

    a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;

      &:hover:not(.active) {
        background-color: #111;
      }

      .active {
        background-color: $primaryBlue;
      }

      span.beta {
        border: 2px solid #dee2e6 !important;
        border-color: #38c172 !important;
        padding-left: 0.4em;
        padding-right: 0.4em;
        border-radius: 50rem !important;
        color: white;
        font-size: 11px;
        margin-left: 7px;
        text-transform: uppercase;
      }
    }
  }
}

.themeLabel {
  font-size: large;
}

#menu .triggerItem {
  float: right;
  cursor: pointer;
}

dark-mode-toggle {
  display: none;
}

.toggleLabel {
  display: inline-block;
}

h1:nth-child(1) {
  margin-top: 55px;
}
