.center {
  width: 88vw;
  margin: auto;
  text-align: left;
  margin-bottom: 5rem;
}

h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.125em;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 800px) {
  .center {
    width: 50vw;
  }
}
