    # Prevent viewing of htaccess file.
    <Files .htaccess>
        order allow,deny
        deny from all
    </Files>
    <Files db.php>
        order allow,deny
        deny from all
    </Files>
    AddDefaultCharset UTF-8
    DefaultLanguage en-US

    # REDIRECT FAVICON.ICO
    <ifmodule mod_rewrite.c>
    RewriteCond %{REQUEST_URI} !^/favicon\.ico [NC]
    RewriteCond %{REQUEST_URI} favicon\.ico    [NC]
    RewriteRule (.*) img/favicon.ico [R=301,L]
    </ifmodule>

    # Prevent directory listings
    Options All -Indexes

    #remove php file extension
    RewriteEngine on 
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php [NC,L]
    #Add Trailing slash for end of the URL
    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^(.*[^/])$ /$1/ [L,R]

    RewriteEngine On
    # Exclude index.php and etc.php from redirecting
    RewriteCond %{REQUEST_URI} ^/(get|new|api|get-api)
    RewriteRule ^(.*)$ includes/$1/ [L]

    #Error handling
    ErrorDocument 400 /includes/error.php
    ErrorDocument 401 /includes/error.php
    ErrorDocument 402 /includes/error.php
    ErrorDocument 404 /includes/error.php
    ErrorDocument 403 /includes/error.php
    ErrorDocument 405 /includes/error.php
    ErrorDocument 406 /includes/error.php
    ErrorDocument 407 /includes/error.php
    ErrorDocument 408 /includes/error.php
    ErrorDocument 409 /includes/error.php
    ErrorDocument 414 /includes/error.php
    ErrorDocument 500 /includes/error.php
    ErrorDocument 502 /includes/error.php
    ErrorDocument 504 /includes/error.php

