    # Prevent viewing of htaccess file.
    <Files .htaccess>
        order allow,deny
        deny from all
    </Files>
    
    # Hide the .env file
    <Files .env>
        order allow,deny
        deny from all
    </Files>
    
    <Files size.json>
    	Header set Access-Control-Allow-Origin "*"    
    </Files>
    
    AddDefaultCharset UTF-8
    DefaultLanguage en-US

    # Hide the .git/ folder
    RedirectMatch 404 /\.git

    # Prevent directory listings
    Options All -Indexes

    # Remove php file extension
    RewriteEngine on
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-l
    RewriteRule ^(.*)$ router.php/$1

    # Error handling
    ErrorDocument 400 /includes/error.php
    ErrorDocument 401 /includes/error.php
    ErrorDocument 402 /includes/error.php
    ErrorDocument 404 /includes/error.php
    ErrorDocument 403 /includes/error.php
    ErrorDocument 405 /includes/error.php
    ErrorDocument 406 /includes/error.php
    ErrorDocument 407 /includes/error.php
    ErrorDocument 408 /includes/error.php
    ErrorDocument 409 /includes/error.php
    ErrorDocument 414 /includes/error.php
    ErrorDocument 500 /includes/error.php
    ErrorDocument 502 /includes/error.php
    ErrorDocument 504 /includes/error.php

    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
    </IfModule>

    php_value upload_max_filesize 150M
    php_value post_max_size 150M
    php_value max_input_time 300
    php_value max_execution_time 300
