on: push
name: Publish Website to FTP
jobs:
  FTP-Deploy-Action:
    name: FTP-Deploy-Action
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.1.0
      with:
        fetch-depth: 2
    - name: FTP-Deploy-Action
      uses: SamKirkland/FTP-Deploy-Action@3.1.1
      with:
        ftp-server: ftp://${{ secrets.FTP_DOMAIN }}
        ftp-username: ${{ secrets.FTP_NAME }}
        ftp-password: ${{ secrets.FTP_PASS }}
        git-ftp-args: --insecure
