name: Deploy Interclip
on:
  push:
    branches:
      - main
  release:
    types: [published]

jobs:
  deploy-production:
    name: Deploy to production
    runs-on: ubuntu-latest
    steps:
    - name: Git pull on the server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: cd /var/www/html && sudo git pull --all && sudo composer install && sass scss/:css/ -s compressed
  deploy-staging:
    name: Deploy to staging
    runs-on: ubuntu-latest
    steps:
    - name: Git pull on the server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: cd /var/www/staging && sudo git pull --all && sudo composer install && sudo sass scss/:css/ -s compressed        
  purge-cache:
    name: Purge Cloudflare cache
    needs: [deploy-production, deploy-staging]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - run: git diff --name-only HEAD^ > diff.txt
    - run: echo "Purging \"$(python3 scripts/arrayify.py)\""
    - name: Purge cache
      uses: jakejarvis/cloudflare-purge-action@master
      env:
        CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE }}
        CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
        #PURGE_URLS: "\"$(python3 scripts/arrayify.py)\""
    
  audit:
    name: Audit the production site with Lighthouse
    needs: purge-cache
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v7
        with:
          urls: |
            https://interclip.app/
            https://interclip.app/file
            https://interclip.app/receive
            https://interclip.app/privacy
            https://interclip.app/about
            https://interclip.app/desktop
          uploadArtifacts: true # save results as an action artifacts
          temporaryPublicStorage: true # upload lighthouse report to the temporary storage
  screenshot:
    name: Screenshot
    needs: purge-cache
    strategy:
      matrix:
        os: [ubuntu-latest, macos-11, windows-latest]
        width: [992]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Screenshot Website
      uses: swinton/screenshot-website@v1.x
      with:
        source: https://interclip.app/
        destination: screenshot-${{ matrix.os }}-${{ matrix.width }}.png
        width: ${{ matrix.width }}
